<!-- Breadcrumbs -->
<app-bread-crumb [items]="[{ text: 'Categorias', link: '/categories'}, { text: pageTitle}]">
</app-bread-crumb>

<!-- Page Title -->
<app-page-header 
  [page-title]="pageTitle" 
  button-class="btn-light" 
  button-text="Voltar" 
  button-link="/categories" 
  button-icon="pi-arrow-left">
</app-page-header>

<!-- Category Form -->
<form [formGroup]="resourceForm" (submit)="submit()">
  <div class="card">
    <div class="card-header">
      Informações sobre a categoria
    </div>
    <div class="card-body">
      <div class="form-row">

        <!-- Name Field -->
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input class="form-control" type="text" id="name" formControlName="name">
          <div class="text-danger" 
          *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">
            <div *ngIf="resourceForm.get('name').errors.required">Campo Nome Obrigatório</div>
            <div *ngIf="resourceForm.get('name').errors.minlength">Campo deve ter no mínimo 2 caracteres</div>
          </div>
        </div>

         <!-- Description Field -->
        <div class="form-group col-md-8">
          <label for="description">Descrição</label>
          <input class="form-control" type="text" id="description" formControlName="description">
        </div>

      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no Servidor:</strong>
    <ul *ngFor="let message of serverErrorMessages">
      <li>{{ message }}</li>
    </ul>
  </div>

  <button type="submit" class="btn btn-primary btn-lg mt-3 float-right"
  [disabled]="resourceForm.invalid || submittingForm">
    Salvar
  </button>
</form>