<!-- Breadcrumbs -->
<app-bread-crumb [items]="[{ text: 'Lançamentos', link: '/entries'}, { text: pageTitle}]">
</app-bread-crumb>

<!-- Page Title -->
<app-page-header 
  [page-title]="pageTitle" 
  button-class="btn-light" 
  button-text="Voltar" 
  button-link="/entries" 
  button-icon="pi-arrow-left">
</app-page-header>

<!-- Entry Form -->
<form [formGroup]="resourceForm" (submit)="submit()">
  <div class="card">
    <div class="card-header">Informações sobre o Lançamentos</div>
    <div class="card-body">

      <div class="form-row">

        <!-- Type Field -->
        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select name="type" class="form-control" id="type" formControlName="type">
            <option *ngFor="let option of getTypeOptions()" [value]="option.key">{{ option.value }}</option>
          </select>

          <app-form-field-error 
            [form-control]="resourceForm.get('type')" field-name="Tipo">
          </app-form-field-error>
        </div>

        <!-- Name Field -->
        <div class="form-group col-md-5">
          <label for="name">Lançamento</label>
          <input class="form-control" type="text" id="name" formControlName="name" />

          <app-form-field-error 
            [form-control]="resourceForm.get('name')" field-name="Lançamento">
          </app-form-field-error>
        </div>

        <!-- Amount Field -->
        <div class="form-group col-md-3">
          <label for="amount">Valor</label>
          <div class="input-group">
            <div class="input-group-pretend">
              <div class="input-group-text">R$</div>
            </div>
            <input type="text" class="form-control text-right" [imask]="imaskConfig"
            id="amount" formControlName="amount" />
          </div>

          <app-form-field-error 
            [form-control]="resourceForm.get('amount')" field-name="Valor">
          </app-form-field-error>
        </div>
        
        <!-- Date Field -->
        <div class="form-group col-md-2">
          <label for="date">Data</label>
          <p-calendar inputStyleClass="form-control" dataType="string" dateFormat="dd/mm/yy" 
          [locale]="languagePtBr" [showButtonBar]="true" id="date" formControlName="date"></p-calendar>
          
          <app-form-field-error 
            [form-control]="resourceForm.get('date')" field-name="Data">
          </app-form-field-error>
        </div>
      </div>

      <div class="form-row">

        <!-- Paid Field -->
        <div class="form-group col-md-2">
          <label for="paid">Status</label>
          <div class="btn-group pr-5">
            <label (click)="resourceForm.get('paid').setValue(true)" class="btn btn-outline-info" 
            [class.active]="resourceForm.get('paid').value == true">
              Pago
            </label>
            <label (click)="resourceForm.get('paid').setValue(false)" class="btn btn-outline-info" 
            [class.active]="resourceForm.get('paid').value == false">
              Pendente
            </label>
          </div>
          <app-form-field-error 
            [form-control]="resourceForm.get('paid')" field-name="Status">
          </app-form-field-error>
        </div>

        <!-- Category Field -->
        <div class="form-group col-md-3">
          <label for="categoryId">Categoria</label>
          <select class="form-control" name="categoryId" id="categoryId" formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
          <app-form-field-error 
            [form-control]="resourceForm.get('categoryId')" field-name="Categoria">
          </app-form-field-error>
        </div>

        <!-- Description Field -->
        <div class="form-group col-md-7">
          <label for="description">Descrição</label>
          <input class="form-control" type="text" id="description" formControlName="description" />
        </div>
      </div>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages">
  </app-server-error-messages>

  <button type="submit" class="btn btn-primary btn-lg mt-3 float-right"
  [disabled]="resourceForm.invalid || submittingForm">
    Salvar
  </button>
</form>