<!-- Breadcrumbs -->
<app-bread-crumb [items]="[{ text: 'Lançamentos', link: '/entries'}, { text: pageTitle}]">
</app-bread-crumb>

<!-- Page Title -->
<app-page-header 
  [page-title]="pageTitle" 
  button-class="btn-light" 
  button-text="Voltar" 
  button-link="/entries" 
  button-icon="pi-arrow-left">
</app-page-header>

<!-- Entry Form -->
<form [formGroup]="resourceForm" (submit)="submit()">
  <div class="card">
    <div class="card-header">Informações sobre o Lançamentos</div>
    <div class="card-body">

      <div class="form-row">

        <!-- Type Field -->
        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select name="type" class="form-control" id="type" formControlName="type">
            <option *ngFor="let option of getTypeOptions()" [value]="option.key">{{ option.value }}</option>
          </select>
          <div class="text-danger" *ngIf="resourceForm.get('type').invalid && resourceForm.get('type').touched">
            <div *ngIf="resourceForm.get('type').errors.required">Campo Obrigatório</div>
          </div>
        </div>

        <!-- Name Field -->
        <div class="form-group col-md-5">
          <label for="name">Lançamento</label>
          <input class="form-control" type="text" id="name" formControlName="name" />
          <div class="text-danger" *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">
            <div *ngIf="resourceForm.get('name').errors.required">Campo Nome Obrigatório</div>
            <div *ngIf="resourceForm.get('name').errors.minlength">Campo deve ter no mínimo 2 caracteres</div>
          </div>
        </div>

        <!-- Amount Field -->
        <div class="form-group col-md-3">
          <label for="amount">Valor</label>
          <div class="input-group">
            <div class="input-group-pretend">
              <div class="input-group-text">R$</div>
            </div>
            <input type="text" class="form-control text-right" [imask]="imaskConfig"
            id="amount" formControlName="amount" />
          </div>
          <div class="text-danger pl-5" 
          *ngIf="resourceForm.get('amount').invalid && resourceForm.get('amount').touched">
            <div *ngIf="resourceForm.get('amount').errors.required">Campo Valor Obrigatório</div>
          </div>
        </div>
        
        <!-- Date Field -->
        <div class="form-group col-md-2">
          <label for="date">Data</label>
          <p-calendar inputStyleClass="form-control" dataType="string" dateFormat="dd/mm/yy" 
          [locale]="languagePtBr" [showButtonBar]="true" id="date" formControlName="date"></p-calendar>
          <div class="text-danger" *ngIf="resourceForm.get('date').invalid && resourceForm.get('date').touched">
            <div *ngIf="resourceForm.get('date').errors.required">Data Obrigatória</div>
          </div>
        </div>
      </div>

      <div class="form-row">

        <!-- Paid Field -->
        <div class="form-group col-md-2">
          <label for="paid">Pago</label>
          <div class="btn-group">
            <label (click)="resourceForm.get('paid').setValue(true)" class="btn btn-outline-info" 
            [class.active]="resourceForm.get('paid').value == true">
              Pago
            </label>
            <label (click)="resourceForm.get('paid').setValue(false)" class="btn btn-outline-info" 
            [class.active]="resourceForm.get('paid').value == false">
              Pendente
            </label>
          </div>
          <div class="text-danger pl-5" *ngIf="resourceForm.get('paid').invalid && resourceForm.get('paid').touched">
            <div *ngIf="resourceForm.get('paid').errors.required">Campo Pago Obrigatório</div>
          </div>
        </div>

        <!-- Category Field -->
        <div class="form-group col-md-3">
          <label for="categoryId">Categoria</label>
          <select class="form-control" name="categoryId" id="categoryId" formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
          <div class="text-danger" 
          *ngIf="resourceForm.get('categoryId').invalid && resourceForm.get('categoryId').touched">
            <div *ngIf="resourceForm.get('categoryId').errors.required">Categoria Obrigatório</div>
          </div>
        </div>

        <!-- Description Field -->
        <div class="form-group col-md-7">
          <label for="description">Descrição</label>
          <input class="form-control" type="text" id="description" formControlName="description" />
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no Servidor:</strong>
    <ul *ngFor="let message of serverErrorMessages">
      <li>{{ message }}</li>
    </ul>
  </div>

  <button type="submit" class="btn btn-primary btn-lg mt-3 float-right"
  [disabled]="resourceForm.invalid || submittingForm">
    Salvar
  </button>
</form>